@use "sass:color";

// Primary Color. Text
$color-primary: hsl(240, 12%, 42%);
$color-primary-light: color.adjust($color-primary, $lightness: 10%);
$color-primary-dark: color.adjust($color-primary, $lightness: -20%);

// Secondary Color. buttons
$color-secondary: hsla(124, 30%, 62%, 0.88);
$color-secondary-light: color.adjust($color-secondary, $lightness: 5%);
$color-secondary-dark: color.adjust($color-secondary, $lightness: -20%);

// Backup colors
$color-castleton: hsl(161, 100%, 17%);
$color-background: hsl(0, 16%, 92%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey: hsla(0, 1%, 59%, 0.3);
$color-success: rgb(92, 219, 92, 90%);
$color-warning: hsl(36, 92%, 43%);
$color-error: hsl(0, 100%, 46%);

// Button Colors
$btn-primary: $color-secondary-dark;
$btn-secondary: $color-secondary;

//#SoMe
$color-facebook: hsl(220, 46%, 48%);
$color-github: hsl(264, 28%, 45%);
$color-linked: hsl(199, 85%, 36%);


//https://blog.logrocket.com/five-cool-css-header-styles-with-cross-browser-compatibility/

$gradient-linear: linear-gradient(to right, $color-primary-dark, $color-primary-light);

// Box Shadow
$box-shadow-default: 0 0.5rem 1.5rem rgba(#000, 0.15);
$box-shadow-hover: 0 0.5rem 3rem rgba(#000, 0.2);
$box-shadow-cta: 0 0rem 10rem rgba(#fff, 0.8);
$box-shadow-front: 0.3125rem 0.3125rem 0.625rem 0.3125rem rgba(204, 201, 201, 0.75);
$box-shadow-card: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

// Font Sizes
$font-size-hero: clamp(1.125rem, 2vw, 4rem);
$font-size-heading: clamp(1.2rem, 2vw, 3rem);
$font-size-small: clamp(0.875rem, 0.99vw, 1.2rem);
$font-size-button: clamp(1.1rem, 1.8vw, 2rem );

//Font height
$font-line-height-default: 1.4;
$font-line-height-heading: 1.6;
$font-line-height-button: 1.6;

// Fonts
$font-stack: "Poppins", sans-serif;
$font-chat: Arial Narrow, sans-serif;
$font-body: Friz Quadrata, sans-serif;
$font-heading: Morpheus, sans-serif;

$font-weights: (
        "light": 300,
        "regular": 400,
        "medium": 500,
        "semi-bold": 600,
        "bold": 700,
        "extra-bold": 800,
        "black": 900,
);

// Breakpoints
// divide by font-size, convert to em
//TODO: research size of px to em
$breakpoint-tablet-portrait: 768px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-laptop: 1300px;

$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 3200px;
