@use "../abstracts" as *;
footer {
  @include flex-row;
  //align-items: flex-start;
  flex-shrink: 0;
  padding-top: 2vh;
  min-height: fit-content;
  justify-content: space-around;
  gap: 1em;
  background: $color-background;
  background: linear-gradient(
                  180deg,
                  $color-background,
                  rgb(187, 196, 207) 88%
  );

  @include mediaq(desktop) {
    gap: 1em;
  }
}

.container__footer {
  @include flex-column;
}

.fab,
.far {
  padding: 0.125rem;
  margin: 0.125rem;
}

