// _buttons.scss
button {
  background: #81bb85e0;
  border: none;
  width: 9.375rem;
  height: 3.125rem;
  padding: 1rem;
  color: white;
  margin-top: 0.625rem;
  border-radius: 0.2rem;
  font-size: 1rem;
}

%btn {
  display: inline-block;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  margin: 0.1875rem;
  cursor: pointer;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background(lighten($btn-primary, 10%));
  border: none;
}

.btn-secondary {
  @extend %btn;
  @include set-background($btn-secondary);
  background: transparent;
  color: $btn-secondary;
  border: 2px solid $btn-secondary;
}

.cta {
  padding-top: 3rem;
}
