@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// TODO: Need to add italic
// https://fonts.google.com/specimen/Poppins#standard-styles
$font-stack: "Poppins", sans-serif;
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
);

$light-color: #f4f4f4;
$darker-color: #585772;

$primary-color: #5f5f79;
$secondary-color: #81bb85e0;

$btn-primary: #46ac7c;
$btn-secondary: #81bb85e0;

$gradientA: #22222e;
$gradientB: #9595b8;

// Set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
