@import "config";
@import "utilities";
@import "buttons";
@import "cart";
@import "form";
@import "mobile";
@import "nav";
@import "product";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
html,
body {
  height: 100%;
}
body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
  font-weight: map-get($font-weights, medium);
  display: flex; // move to layout
  flex-direction: column; // move to layout
  overflow-x: hidden; // move to layout
}

a {
  color: #5f5f79;
  text-decoration: none;
  position: relative;
}
.logo {
  max-width: 6.25rem;
}
select {
  background-color: transparent;
  border: 2px solid $btn-secondary;
  text-align: center;
  padding: 0 1em 0 0;
  // margin: 0;
  width: 9.375rem;
  height: 3.125rem;
  color: $btn-secondary;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
// select:hover {
//   background-color: $light-color;
// }

option {
  background-color: $light-color;
}
option:hover {
  color: chartreuse;
  background-color: blueviolet;
}

/* 
  BOB: 
*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 2vh;
  min-height: fit-content;
  gap: 1em;
  font-weight: map-get($font-weights, bold);
  background: rgb(244, 244, 244);
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1) 0%,
    rgb(187, 196, 207) 88%
  );
}

.footer-links > a {
  margin: 20px;
}
.legal,
.contact,
.social {
  display: flex;
  flex-direction: column;
}
// TODO: Correct this
.fab,
.far {
  padding: 0.125rem;
  margin: 0.125rem;
}

/* 
 BOB: 
 */

.presentation {
  display: flex;
  align-items: center;
  max-width: 90%;
  min-height: 80vh;
  margin: auto;
}
.introduction {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.intro-text h1 {
  font-size: 2.75rem;
  font-weight: 500;
  background: linear-gradient(to right, $gradientA, $gradientB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  display: flex;
  flex-wrap: wrap nowrap;
  justify-content: center;
  margin-top: 5px;
  font-size: 22px;
  color: $darker-color;
  width: 90%;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
.cover__about {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover__about img {
  height: 100%;
  animation: drop 1.5s ease;
  border-radius: 4px7;
}

/* Contact form END */

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
  }
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text {
    // justify-content: center;
  }
  .intro-text h1 {
    font-size: 1.875rem;
    text-align: center;
  }
  .intro-text p {
    font-size: 1.125rem;
    text-align: center;
  }
  .cover img {
    max-width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    background-color: $light-color;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
  .cover img {
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  .presentation {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 1.875rem;
  }
  .intro-text p {
    font-size: 1.125rem;
  }
  .cover img {
    height: auto;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
