/* Notes:
Fino Sans Regular */
p {
    font-family: fino-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* Notes:
 Fino Sans Italic
*/
.italic {
    font-family: fino-sans, sans-serif;
    font-weight: 400;
    font-style: italic;
}
/* Fino Sans Bold Italic */
.italic-bold {
    font-family: fino-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
}
/* Notat: */
/* Fino Sans Bold*/
h1 {
    font-family: fino-sans, sans-serif; 
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto", sans-serif;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}