body {
    margin: 0;
    background-color: #e2e2e2;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #0390ea;
}

/* Layout */
.container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "header"
      "hero"
      "center"
      "center"
      "center"
      "footer";
}

header {
    grid-area: header;
}

.hero {
    background: #ffffff; /* Note: here comes an image */
    grid-area: hero;
}

.center {
    display: grid;
    grid-auto-flow: column;
    grid-area: center;
    max-width: 100%; /* Note: this needs to be moved to image/center prop */
}

footer {
    background: #000000;
    grid-area: footer;
}

/* Mobile menu */
.mobile-menu {
    display: block;
    background-color: #000000;
    float: right;
    width: 150px;
    padding: 5px 0 50px 0;
}

.mobile-links li {
    line-height: 2.8rem;
}

.mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
}

.nav-list {
    list-style-type: none;
}

.links, .mobile-menu {
    display: none;
}

.nav-links {
    display: none;
}

.logo {
    display: grid;
    min-height: 50px;
    width: 50px;
    justify-content: start;
    align-content: center;
    padding: 5px;
}

.navbar {
    background: black;
    -webkit-box-shadow: -1px 4px 5px 0 rgb(28, 67, 38);
    -moz-box-shadow: -1px 4px 5px 0 rgb(41, 60, 34);
    box-shadow: -1px 4px 5px 0 rgb(5, 7, 4);
    display: grid;
    min-height: 10vh;
    grid-auto-flow: column;
    grid-gap: 1.5em;
    padding: 0 50px;
}

@media screen and (min-width: 720px) {

    /* Navigation */
    .mobile-menu,
    .mobile-btn,
    .fa-bars {
        display: none;
    }

    .nav-links {
        display: grid;
        justify-content: right;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 1em;
    }

    /* Layout */
    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr 1.2fr 0.5fr;
        grid-template-areas:
            "header header header"
            "hero hero hero"
            "center center center"
            "footer footer footer";
    }

}
